:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /*color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;*/
    font-synthesis: none;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}


/*search box*/

.Search-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.search-bar {
    width: 90%;
    height: 7vh;
    font-size: large;
    cursor: pointer;
    border: transparent;
    border-radius: 1rem;
    vertical-align: middle;
    overflow: hidden;
    padding-left: 1rem;
}

.search-btn {
    width: 10%;
    height: 7vh;
    cursor: pointer;
    border: transparent;
    background-color: brown;
    color: ghostwhite;
    font-size: 20px;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}


/*card */

.card {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    margin-left: 7rem;
    padding: 0.5rem;
    border: 1px solid bisque;
    width: 80%;
    /* height: auto; */
    text-align: center;
    cursor: pointer;
    /*zoom card;*/
    /* transition: transform 0.1s; */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 0.5rem;
}

.card-img {
    width: 20%;
    padding: 1rem;
    margin: 1rem;
    margin-left: 4rem;
    border: 1px solid #4B5563;
    border-radius: 0 1rem 1rem 1rem;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-weight: bold; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.2s;
}
.card-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.card .card-body {
    font-size: 15px;
    margin-top: 3px;
    color: navy;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    font-weight: 700;
}
/*
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: cornsilk;
    color: darkgreen;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: brown;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;*/


/*@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}*/